.userinput{
  font-size: 20px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 15px 50px;
  box-sizing: border-box;
  margin-bottom: 2%;
  border: 1px solid black;
}
h1 {
  padding: 5px 10px;
  font-size: 20px;
  text-align:center;
}
h2 {
  padding: 5px 10px;
  font-size: 20px;
  text-align:center;
}
fieldset {
  padding: 20px 10px;
  margin: 2% 10%
}
body {
  margin: 5%;
}
label {

}
button {
  width: 40%;
  font-size:;
  margin: 2% 30%;
  padding: 5px;
}
#owner {

}