/*mobile */
.userinput{
  font-size: 0.938em; /* 15px */
  padding: 5px 10px; 
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2%; 
  border: 1px solid black;
}
h1 {
  text-align:center;
  font-size: 3.125em; /* 50px */
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  padding-bottom: 45px;
  text-align:center;
  font-size: 1.875em; /* 30px */
  font-family: "Figtree", sans-serif;
}
fieldset {
  padding: 20px 10px;  
}
body {
  margin: 5%;
  background-color: gray;
}
label {
  font-size: 0.938em; /* 15px */
  font-family: "Figtree", sans-serif;
}

button {
  width: 40%;
  margin: 2% 30%;
  padding: 5px;
  font-size: 20px;
  font-family: "Figtree", sans-serif;
}
legend {
  font-size: 1.563em; /* 25px */
  font-family: "Anton", sans-serif;
}
#input-birthday {
  margin-bottom: 0.563em; /* 9px */
}
#input-recieve-emails {
  margin-bottom: 0.563em; /* 9px */
}

/* desktop */
@media screen and (min-width:600px) {
  body {
	background-color: red;
  }
  fieldset {
	margin: 2% 15%;
  }
  label {
	font-size: 1.25em; /* 20px */
  }
  button {
	font-size: 1.25em; /*20px */
	margin: 0.5% 30%;
  }
  legend {
	margin-left: 10px;
  }
  h1 {
    padding: 5px 10px; 
  }
  h2 {
	padding: 5px 10px; 
  }
  img {
	width: 30%;
  }
  #image {
	line-height:250px;
	width: 375px;
    height: 250px;
	border: 5px solid black;
	margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
  }
}