.userinput{
  font-size: 15px;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2%;
  border: 1px solid black;
}
h1 {
  padding: 5px 10px;
  font-size: 20px;
  text-align:center;
  font-size: 50px;
}
h2 {
  padding: 5px 10px;
  font-size: 20px;
  text-align:center;
  font-size: 30px;
}
fieldset {
  padding: 20px 10px;
  margin: 2% 15%
}
body {
  margin: 5%;
}
label {
  font-size: 20px;
}

button {
  width: 40%;
  font-size:;
  margin: 1% 30%;
  padding: 5px;
  font-size: 20px;
}
#owner {

}
legend {
  font-size: 25px;
  margin-left: 10px;
}
